.hero{
  height:90vh;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay{
  background:rgba(0,0,0,0.6);
  padding:50px;
  border-radius:15px;
  text-align:center;
  color:white;
}

.overlay h1{
  font-size:60px;
  margin-bottom:15px;
}
.overlay p{
  font-size:20px;
  margin-bottom:20px;
}

 .menuLink{
  padding:12px 25px;
  border:none;
  border-radius:8px;
  background:orange;
  color:white;
  font-size:18px;
  text-decoration:none;

}